server {
    listen 80;
    server_name {{ item.item }};

    root /usr/share/nginx/maintenance;

    index index.html;

    location ~ /\.well-known/acme-challenge/ {
        allow all;
        root /var/www/letsencrypt;
        try_files $uri =404;
        break;
    }
}

